* {
  margin: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, ul {
  margin: 16px 0 16px 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
  font-family: Open Sans;
  display: flex;
  justify-content: center;
}

.formatted {
  font-family: monospace;
}

main {
  width: 100%;
  max-width: 1000px;
}

video {
  width: 100%;
}

.column {
  float: left;
  width: 50%;
}

.column ul {
  list-style: none;
  padding-left: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > * {
  width: 100%;
}

.centered {
  text-align: center;
}

body {
  background-color: #212121;
  color: #fff;
}

a {
  color: #468847
}

.eighteenplus {
  font-size: 0.7em;
  color: #fff;
  background-color: #f00;
  padding: 3px;
  border-radius: 50%;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #FFF;
    color: #212121;
  }
}
